@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/*Generic CSS */

body{
    max-width: 100vw;
    overflow-x: hidden;
}

li{
    list-style-type:none;
}

.purple{
    color: #7342d6;
}


img{
    width: 100%;
    height: 100%;
    max-height: 50vh;
}


/*Navigation*/

nav{
    height: 80px;
    display: flex;    
}

p{
    line-height: 1.5;
}

.nav_container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo{
    width: 160px;
}

ul{
    display: flex;
}

.nav_link{
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342dc;
    font-weight: bold;
    padding: 8px;
}

.nav_link:hover{
    text-decoration: underline;

}

.nav_link--primary{
    border: 2px solid #7342dc;
    border-radius: 4px;
}

.nav_link--primary:hover{
    text-decoration: none;
}

#landing{
    background-color: rgba(115, 66, 214, 0.1);
}

header{
    height: calc(100vh - 80px);
}

.header_container{
    width: 100%;
    max-width:720px ;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header_description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2{
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button{
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

.btn{
    background-color:  #7342d6;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    display: flex;
}

.header_img--wrapper{
    padding:20px ;
    z-index: 2;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
/*

HIGHLIGHTS

*/

#highlights{
    position: relative;  
}

#highlights:before, 
#highlights:after{
    background: url('assets/wave.svg'); 
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {    
    top: 1px;   
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px; 
    transform: translateY(100%) rotate(180deg);
}

.highlight_wrapper{
    display: flex; 
    align-items: center;
}

.highlight{
    padding: 0 24px;
    width: calc(100%/3);  
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.highlight_para{
    text-align: center;
    max-width: 280px;
}

.highlight_img{
    border: 2px solid #7342d65d;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight_subtitle{
    font-size: 20px;
    margin-bottom:16px;
}
/* 
FEATURES 

*/
#features{
   padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1) ;

}

.books{
    display: flex;
   flex-wrap: wrap;
}

.book{
    width: 25%;
    padding: 24px;
     

}

.book_img{
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.book_img--wrapper{
     margin-bottom: 8px;
     border-radius: 4px;
     overflow: hidden; 
     display: flex; 
        
 
}

.book:hover .book_img {
    transform: scale(1.03);
}

.book_title{
    font-size: 20px;
    margin-bottom: 8px;    
}

.book_title:hover{
    text-decoration: underline;
    cursor: no-drop;
}

.book_ratings{
    margin-bottom:8px;
    color: #fabf2a;
}

.book_price--normal{
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/*
Latest Books
*/

